In [8]:
import os
import pandas as pd

In [7]:
for folder in os.listdir('data/sessions')[:10]:
    try:
        print(folder, os.listdir('data/sessions/%s'%(folder)))
    except:
        pass

3XuyHXh1k92uQoOyiUDr ['session.json', 'snapshots.json']
jNNLEB87PnIupHntDPDK ['session.json', 'snapshots.json']
nx39Y3m8fACWC1hRraqB ['session.json', 'snapshots.json']
6Yx20Y9IEnYY3165J5hb ['dataset-metadata.json', 'session.json', 'snapshots.json', 'dataset.csv']
9kBX86m8AhSzrgrQK9a8 ['session.json', 'snapshots.json']
X6Ymc3XbLTel9Pyixx29 ['dataset-metadata.json', 'session.json', 'snapshots.json', 'dataset.csv']
Vs9fXwa413iUeX49Odpt ['session.json', 'snapshots.json']
tso7fH0OdafDTxbJt3Od ['session.json', 'snapshots.json']
ra2o50Hgmig9wIpDEw4I ['dataset-metadata.json', 'session.json', 'snapshots.json', 'dataset.csv']
aqEW0vNFUSQk3jKqmU6F ['session.json', 'snapshots.json']

In [14]:
df = pd.read_csv('data/sessions/6Yx20Y9IEnYY3165J5hb/dataset.csv')
df[:5]

,0,13729.087890625,3156.1552734375,6635.91943359375,-3254.32421875,-3191.962890625,7830.64208984375,10561.2646484375,10948.8447265625,,1691443808299.948
0,1,10369.352539,-2097.554443,-3001.525879,-5391.172852,-5577.117188,-2691.730957,17.769634,2209.402588,,1.691444e+12
1,2,10073.572266,-5006.410156,-10156.788086,-6105.646484,-6645.307129,-12438.006836,-10010.942383,-6275.296387,,1.691444e+12
2,3,13544.149414,-59.276821,-1532.614258,-3951.028076,-4278.056152,-3178.149414,-744.581238,1370.474731,,1.691444e+12
3,4,14332.919922,3507.122314,6889.455078,-3024.928223,-2977.654297,7704.846680,10433.055664,10787.375000,,1.691444e+12
4,5,11229.470703,-441.759827,349.357727,-4802.897461,-4881.083984,1180.104858,3984.488525,5501.747070,,1.691444e+12

In [ ]:
df.colnames =